<!-- <div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1><i class="fa fa-user fa-3x"></i></h1>
      <br>
      <h5>Create a New Account or login</h5>
      <br>
      <a href="/users/login" class="btn btn-info btn-block">Login</a>
      <br>
      <a href="/users/register" class="btn btn-success btn-block mb-2">Register</a>
      </div>
  </div>
</div> -->

<!-- 	<div class="shadow-lg p-3 mb-5 bg-white rounded">Larger shadow</div> -->
	<!-- <div class="container">
	<div class="row ">
	<div class="col-md-8 col-sm-6" style="margin-top:-65px">
		<div class="intro">

 
<br> -->

<!-- <div class="row" style="z-index:2890;"> -->
  <!-- <% if(jobprofile.length==0){ %>
    <% var t = "Currently no jobs posted related to your search"; %>
    <font style="font-weight: 600;"><%= t %></font>
  <% } %>
    <% for(var i=0; i<jobprofile.length; i++) { %>
      <% if(jobprofile[i].approve==true){ %> -->
        <!-- <div class=" box-job" style="z-index:2800;text-align:center"> -->
            <!-- <label>ID </label>  <%= jobprofile[i]._id %><hr style="background-color: rgb(43, 226, 211);"> -->
            <!-- <label style="text-align:center"> <%= jobprofile[i].recruiters_new[0].company %></label> <hr style="background-color: rgb(43, 226, 211);">
            <table style="width:100%">
                <tr>
                    <td width="30%" class="custom-sl"><label>Job Role</label></td>
                    <td width="80%" class="custom-s"><%= jobprofile[i].job_role %></td>
                </tr>
                <tr>
                    <td width="20%" class="custom-sl"><label>Job Description</label></td>
                    <td width="80%" class="custom-s"><% var x=jobprofile[i].job_desc.split("\n") %>
                        <% for(var j=0; j<x.length; j++) { %>
                            <br>
                            <%= x[j] %>
                         <% } %>   
                    </td>
                </tr>
                <tr>
                    <td width="20%" class="custom-sl"><label>Requirement</label></td>
                    <td width="80%" class="custom-s"><% var y=jobprofile[i].qualifications.split("\n") %>
                      <br>
                      <% for(var k=0; k<x.length; k++) { %>
                            
                            <%= y[k] %>
                         <% } %> </td>
                </tr>
                <tr>
                    <td width="20%" class="custom-sl"><label>Last date to apply</label></td>
                    <td width="680%" class="custom-s"><%= jobprofile[i].deadline.toDateString() %></td>
                </tr>
                <tr>
                    <td width="20%" class="custom-sl"><label>Openings</label></td>
                    <td width="80%" class="custom-s"><%= jobprofile[i].openings %></td>
                </tr>
                <tr>
                    <td width="20%" class="custom-sl"><label>Duration</label></td>
                    <td width="80%" class="custom-s"><%= jobprofile[i].duration %></td>
                </tr>
                <tr>
                    <td width="20%" class="custom-sl"><label>Applicants</label></td>
                    <td width="80%" class="custom-s"><%= jobprofile[i].applied_candidates_name.length %></td>
                </tr>
            </table><br>
                
            
            <form action="/users/register">
                <button class="btn btn-info" id="appliedbtn">Apply</button>
            </form>
        </div>
    <br><hr>
    <% }} %> -->
    
<!-- </div> -->








	<!-- </div>
	</div> -->
  <!-- <div class="container-fluid">
    <div class="row"> -->
      
        <!-- <div class="col-lg-6 col-md-4 col-sm-6"> -->
          <!-- <img src="/Public/man-2.png" class="svg"> -->
          <!-- <img src="https://i.pinimg.com/originals/6b/1b/22/6b1b22573f9f3d4bba11a9fa5cb45652.png" class="svg" style="width:500px;height:500px; "><br><br><br><br> -->
          
          <!-- <h4 style="text-align:left">With Ecera, you can search various jobs online to find the next step in your career. With tools for job search, resumes, company reviews and more... </h4>
          <a href="/users/login" type="button" class="btn btn-light btn-rounded btn-c">Get Started</a><br><br> -->
          <!-- <h4>Employers/Post Job :</h4>
          <a href="/recruiter/register" type="button" class="btn btn-light btn-rounded btn-c1">Hire for job</a><br><br>
          <h4>Let employers find you :</h4>
          <a href="/users/register" type="button" class="btn btn-light btn-rounded btn-c1">Upload your resume</a> -->
        <!-- </div>
        <div class="col-lg-6 col-md-4 col-sm-6" style="margin-top:150px ;">
          <h4 style="text-align:left">With Ecera, you can search various jobs online to find the next step in your career. With tools for job search, resumes, company reviews and more... </h4>
          <a href="/users/login" type="button" class="btn btn-light btn-rounded btn-c">Get Started</a><br><br>
        </div>
       -->
    <!-- </div>
  </div> -->
	
<!-- </div>
</div> -->
<body></body>

<div></div>





<footer class="footer-distributed">

			<div class="footer-left">

				<img src="/Public/ecera.jpg" alt="logo" style="width:100px;">

				<p class="footer-links">
					<a href="#" class="link-1">Home</a>
					
					<a href="#">Blog</a>
				
					<a href="#">Pricing</a>
				
					<a href="#">About</a>
					
					<a href="#">Faq</a>
					
					<a href="#">Contact</a>
				</p>

				<p class="footer-company-name">Ecera System © 2022</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>HN 3 MOH, near DM Bungalow, Peer Nagar,</span>  Ghazipur, Uttar Pradesh 233001</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					
          <p><a href="tel:+12486771972">+1 2486771972</a></p>
				</div>

				<div>
					<i class="fa fa-envelope " ></i>
					<p><a href="mailto:support@ecerasystem.com">support@ecerasystem.com </a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About the company</span>
					Ecera System provides industry leading employment solutions. We understand the importance of having the right person for the job, whether it is for a permanent position or a short-term project. Special staffing requirements call for speed and a strong ability to match skills to needs.
				</p>

				<div class="footer-icons">

					<a href="#"><i class="fa fa-phone"></i></a>
					<a href="#"><i class="fa fa-map-marker"></i></a>
					<a href="#"><i class="fas fa-envelope"></i></a>
					

				</div>

			</div>

		</footer>
  
</html>